* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("img/jan-wp.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 100vw;
  padding: 2vh;
  color: #c8c8c8;
  background-color: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h2 {
  position: absolute;
  left: 15vw;
}

header button {
  margin: 0 10px;
  font-size: 3rem;
  color: #a0a0a0;
  border: none;
  background: none;
  outline: none;
}

header button:hover {
  cursor: pointer;
}

.title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-bar h1 {
  width: 250px;
  text-align: center;
}

.calendar {
  width: 1000px;
  height: 400px;
  margin-bottom: 10vh;
  opacity: 0.8;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
      grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
}

.week {
  font-size: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 2px solid #c8c8c8;
}

.week:nth-child(1) .day, .week:nth-child(1) .day-title {
  border: none;
}

.week .day, .week .day-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.week .day:nth-child(even), .week .day-title:nth-child(even) {
  background-color: #505050;
}

.week .day:nth-child(odd), .week .day-title:nth-child(odd) {
  background-color: #a0a0a0;
}

.week .day-title {
  font-size: 1rem;
  font-weight: 700;
}

.today {
  border: 4px solid red;
}
